@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  background-color: rgba(68, 128, 136, 0.418);
}
.imga{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 20px;
}
h1{
  display: block;
  text-align: center;
}
